// we need this to be sure that there is at least one 1 png file generated
// in app/assets/webpack
#dummy {
  background: $brand-primary url('#{$image-url-path}/spark-logo.png') center center;
}

// -- Spree Layout Custom Rules -------------------------

.alert-notice { @extend .alert-success; }
.alert-error, .alert-registration_error { @extend .alert-danger; }
.alert-alert { @extend .alert-info; }

.alert {
  margin-bottom: 0;
}

.product-body {
  height: 170px;
}

.progress-steps {
  margin-top: $line-height-computed;
}

h1 {
  margin-bottom: 30px;
}

// Center cart line items
table {
  &.table > tbody > tr {
    &.line-item td, &.stock-item td {
      vertical-align: middle;
    }
  }

  &#line-items {
    > tbody, > tfoot {
      > tr > td {
        vertical-align: middle;

        &.order-qty {
          text-align: center;
        }
      }
    }
  }
}

// Footer links
#footer-left a {
  color: lighten($brand-primary, 20);

  &:hover {
    color: lighten($brand-primary, 10);
  }
}

// Updated credit-card image
#credit-card-image {
  margin-top: -10px;
}

.existing-credit-card-list td {
  padding: 5px;
}

.navbar-fixed-top {
  .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;

    & > img {
      height: 50px;
      display: inline-block;
      margin-top: -15px;
    }
  }

  .navbar-toggle {
    z-index: 3;
  }
  .navbar-right {
    margin-right: 0;
  }
}

#page {
  margin-top: 70px;
}
