#spree-header {
  background: $brand-primary url('#{$image-url-path}/spark-logo.png') center center;
  background-size: cover;
  margin-bottom: $line-height-computed;

  #header {
    background: rgba($gray-darker, 0.4);
    padding: $line-height-computed 0;
  }

  #logo {
    margin-bottom: 10px;

    img {
      width: 306px;
    }
  }

  .nav a {
    color: white;

    &:hover, &:focus {
      background: rgba($gray-darker, 0.4);
    }
  }

  .navbar {
    border: 0;
    margin-bottom: 0;
  }
}

#spree-footer {
  background: $gray-dark;
  padding-top: $padding-base-horizontal;
  margin-top: $line-height-computed;
  color: white;
}

// -- Spree Layout Custom Rules -------------------------

.alert-notice { @extend .alert-success; }
.alert-error, .alert-registration_error { @extend .alert-danger; }
.alert-alert { @extend .alert-info; }

.alert {
  margin-bottom: 0;
}

.product-body {
  height: 170px;
}

.progress-steps {
  margin-top: $line-height-computed;
}

h1 {
  margin-bottom: 30px;
}

// Center cart line items
table {
  &.table > tbody > tr {
    &.line-item td, &.stock-item td {
      vertical-align: middle;
    }
  }

  &#line-items {
    > tbody, > tfoot {
      > tr > td {
        vertical-align: middle;

        &.order-qty {
          text-align: center;
        }
      }
    }
  }
}

// Footer links
#footer-left a {
  color: lighten($brand-primary, 20);

  &:hover {
    color: lighten($brand-primary, 10);
  }
}

// Updated credit-card image
#credit-card-image {
  margin-top: -10px;
}

.existing-credit-card-list td {
  padding: 5px;
}

.navbar-header > a > img {
  height: 50px;
}

#page {
  margin-top: 70px;
}
