.hello-world-input {
  width: 30%;
  margin-right: 20px;
  height: 3.25em;
  border: none;
  outline: none;
  border-radius: 0.3em;
  background: #404043;
  padding: 0.5em 1.25em;
  color: white;
}

.hello-world-button {
  border: none;
  outline: none;
  padding: 1em 4.5em;
  border-radius: 2em;
  background: green;
  color: white;
  font-weight: 700;
  font-size: 0.9em;
  margin-top: 2em;
}

.hello-world-text {
  padding: 1em 4.5em;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.hello-world-form {
  text-align: center;
}
