= react_component 'App',
  { location: request.fullpath, products: { is_fetching: false, is_fetched: true, products: json_products(@products), meta: json_pagination(@products) } },
  { prerender: false }
