// Created by React on Rails gem

// DO NOT REQUIRE TREE! It will interfere with load order!

// Account for differences between Rails and Webpack Sass code.
$rails: true;

// Included from bootstrap-sprockets gem and loaded in app/assets/javascripts/application.rb
@import 'bootstrap-sprockets';

// Customizations - needs to be imported after bootstrap-sprocket but before bootstrap-custom!
// The _pre-bootstrap.scss file is located under
// client/assets/stylesheets, which has been added to the Rails asset
// pipeline search path. See config/application.rb.
@import 'pre-bootstrap';

// These scss files are located under client/assets/stylesheets
// (which has been added to the Rails asset pipeline search path in config/application.rb).
@import 'bootstrap-custom';

// This must come after all the boostrap styles are loaded so that these styles can override those.
@import 'post-bootstrap';

